.App {
  display: grid;
  text-align: center;
  width: 100vw;
  background-color: black;
}

.logo {
  margin-top: 10px;
  justify-self: right;
  color: black;
  text-align: center;
  width: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 50px;
  background-color: rgb(255, 217, 0);
}
.header-sign {
  justify-self: right;
}

header {
  color: white;
  display: grid;
  justify-items: center;
  position: relative;
}
.header {
  width: 100vw;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}
.signBtn {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border: 1px rgb(70, 69, 69) solid;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  margin-left: 10px;
}
#closeBtn {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 5px;
  margin-left: 5px;
}
.modal-dialog.sign {
  position: absolute;
  text-align: center;
  color: black;
  background-color: rgb(255, 217, 0);
  width: 30vw;
  height: 50vh;
  top: 30%;
  left: 35%;
}
.header-description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.form {
  margin: 20px;
  justify-self: center;
  width: 30vw;
  height: 60vh;
  border: 1px rgb(70, 69, 69) solid;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(29, 29, 29);
}
input {
  text-align: left;
  font-weight: bold;
  width: 20vw;
  margin: 10px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(243, 241, 241);
}
.bid-amount {
  color: white;
}
.bid-input {
  text-align: center;
  color: black;
  background-color: rgb(255, 217, 0);
  border-bottom: 3px solid rgb(247, 244, 244);
  border-radius: 0 0 10px 10px;
}
.description {
  height: 15vw;
  border: 1px solid rgb(243, 241, 241);
  background: transparent;
}
#create {
  border: none;
  border-radius: 20px;
  padding: 15px 30px 15px 30px;
  color: rgb(63, 119, 241);
  font-weight: bold;
  background-color: rgba(58, 106, 211, 0.37);
}
.box {
  margin-bottom: 50px;
}
.govel {
  transition: transform 0.5s;
}

.govel:hover {
  transform: rotate(-45deg);
}
.govel.rotated {
  transform: rotate(0);
}

.feed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.post {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}
#post {
  border: 1px rgb(70, 69, 69) solid;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(29, 29, 29);
  margin: 10px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

#post:hover {
  transform: rotateY(180deg);
}
.front,
.back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.front {
  display: grid;
  justify-items: center;
  position: relative;
}
.back {
  text-align: left;
  position: absolute;
  top: 5%;
  left: 15%;
  width: 200px;
  height: 200px;
  align-content: center;
  color: white;
  font-weight: bold;
  transform: rotateY(180deg);
}
#trash {
  position: absolute;
  bottom: -95%;
  right: -15%;
}
h1 {
  margin-top: 0;
  color: white;
}
h2 {
  color: grey;
  font-size: 18px;
}
h4 {
  color: white;
}
h5 {
  font-size: 16px;
  margin-left: 5px;
  color: rgb(40, 181, 224);
}
.bid {
  display: flex;
  align-items: baseline;
}
